        <footer class="footer ">
            <div class="footer-nav-container ">
                <ul id="menu-footer-nav " class="footer-nav ">
                    <li id="menu-item-341 " class="menu-item menu-item-type-post_type menu-item-object-page menu-item-341 "><a href="#">Privacy policy</a></li>
                    <li id="menu-item-47 " class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47 "><a href="#">Code of conduct</a></li>
                </ul>
            </div>

            <p class="footer__copyright ">© 2019 DSC-JGI </p>
            <button class="j-btn btn-top " id="btn-to-top " title="Go to top " type="button ">
                up
                <svg class="btn-top__icon ">
                    <use xlink:href="#icon-arrow-pagination "></use>
                </svg>
            </button>
        </footer>
        </div>
        </div>


        <script type='text/javascript' src='wp-content/mmr/6d50d3fc-1555407580.min.js'></script>

    </body>


</html>